body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;

  height: 100vh;
  margin: 0dvh;
  background-color: rgb(248, 239, 226);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 15dvh;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 90dvh;
  width: 100%;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.error {
  background-color: red;
}

.td-flex {
  display: flex;
  flex-direction: row;
  gap: 1dvh;
}

.registration {
  margin-left: 6dvh;
}

header {
  display: flex;
  padding-bottom: 5dvh;
  flex-direction: row;
  justify-content: center;
  gap: 30dvh;
  padding-top: 2dvh;
  padding-right: 5dvh;
  background-color: #001952;
  margin-bottom: 2.5dvh;
}

header a {
  margin-top: 2dvh;
  color: white;
  text-decoration: none;
  font-size: 2.5dvh;
}

header a:hover {
  color: green;
}

.pets {
  text-align: center;
  background-color: white;
  margin: 5dvh;
  margin-top: 0dvh;
  padding-top: 5dvh;
  padding-bottom: 5dvh;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-right: 20px;
}

.service-info {
  max-width: 600px;
}

.service-info h3 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
  color: #001952;
}

.service-info p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.titleValidationMsg,
.descriptionValidationMsg {
  display: none; /* Ocultar por defecto */
  color: red;
}
