body {
  background-color: #f8f9fa;
  color: #495057;
}

.container {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border: 2px solid #007bff;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.titleValidationMsg,
.descriptionValidationMsg {
  display: block;
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

#notification {
  margin-bottom: 20px;
}

header {
  display: flex;
  padding-bottom: 5dvh;
  flex-direction: row;
  justify-content: center;
  gap: 30dvh;
  padding-top: 2dvh;
  padding-right: 5dvh;
  background-color: #001952;
  margin-bottom: 2.5dvh;
}

header a {
  margin-top: 2dvh;
  color: white;
  text-decoration: none;
  font-size: 2.5dvh;
}

header a:hover {
  color: green;
}
